/* Usar " * " no html faz tudo que tiver dentro servir pra tudo no site */

body,h1{
    margin:0;
}

.inicio {
/* vh= aréa de visualização do site, no caso a caixinha selecionada aqui no arquivo div */
/* esse back..repet é pra que quando diminuir o zoom da tela não repetir a imagem */
/* esse back..size serve pra esticar a imagem(cover) no site */
/* display flex da pra usar outros comandos de direcionamento, serve pra organizar os elementos do site(texto..) */
    background-image:url(../IMG/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;  
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.inicio h1,
.inicio p {
    color: white;
}

h2{
    margin-left: 10px;
}
button {
    background-color: white;
    padding: 10px;
    color: #7E4598;
    border-radius: 30px;
    
}

.descricao,
.habilidades {
    width: 40%;
    display: inline-block;
    margin-left: 10px;
    /* inline block mexe na altura e elemento do site assim conseguindo colocar um do lado do outro */
}

.Redes-sociais{
    text-align:center;
    display: flex;
    justify-content: space-around;
}
.redes-sociais-link{
    width: 20%;
    background-color:#7E459B;
    padding:6rem 0rem;
    color:black;
    margin-top:3rem;  
}

.redes-sociais_img{
    margin-top: 5rem;
   margin-left: 100px;
   margin-right: 100px;
    
}

.redes-sociais_titulo{
    font-size:1.6rem;  
    margin-bottom: 1rem; 
    margin-left: 100px;
    margin-right:100px; 
}

.Redes-sociais p {  
    margin-left: 100px;
    margin-right:100px; 
    margin-bottom: 1rem; 
}



